// pastelgreen
// main color #53ea8c
$pastelGreen800: #116a34;
$pastelGreen600: #0dac4a;
$pastelGreen500: #17d05d;
$pastelGreen100: #dafee6;
$pastelGreen50: #effef4;

// neutral
$neutral900: #171717;
$neutral400: #a3a3a3;
$neutral300: #d4d4d4;
$neutral200: #e5e5e5;
$neutral100: #f5f5f5;